.table {
  width: 100%;
  height: 100%;
  text-align: center;

  #player-truco-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    background-color: #0984e3;
    color: white;
    padding: 2px 20px;
    border-radius: 100px;
    font-size: 24px;
    cursor: pointer;
  }

  #played-cards {
    margin: 20px;
  }

  #turned-card {
    position: absolute;
    right: 0;
    top: 0;
  }

  #game-status {
    text-align: left;
    margin: 10px;
    position: absolute;
    left: 0;
    top: 0;

    #title {
      text-align: center;
      background-color: #bdc3c7;
      border-radius: 20px;
      padding: 2px 10px;
    }

    .score {
      margin-left: 10px;
    }
  }
}
